<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="MAS345_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="MAS345_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <MAS345_GUI.Properties.Settings>
            <setting name="GraphShowComment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GraphShowDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GraphShowTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GraphNumberOfGrids" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GraphColorBG" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="GraphColotGraphBG" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="GraphColorGridLine" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="GraphColorGridText" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="GraphColorMeasurePointsOuter" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="GraphColorMeasureText" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="GraphColorLine" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="GraphMeasurePointSize" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="GraphShowLines" serializeAs="String">
                <value>True</value>
            </setting>
        </MAS345_GUI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MAS345_GUI.Properties.Settings>
            <setting name="GraphTopMargin" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="GraphBottomMargin" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="GraphLeftMargin" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="GraphRightMargin" serializeAs="String">
                <value>20</value>
            </setting>
        </MAS345_GUI.Properties.Settings>
    </applicationSettings>
</configuration>
