<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="MAS345_GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <MAS345_GUI.Properties.Settings>
            <setting name="GraphShowComment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GraphShowDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GraphShowTime" serializeAs="String">
                <value>False</value>
            </setting>
        </MAS345_GUI.Properties.Settings>
    </userSettings>
</configuration>
